/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 300px; /* Changed this to accomodate content width */
  max-height: auto;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}
.dropdown-content li a{color: #37474f}
.owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    font-family: 'Material Icons';
    font-size: 4rem;
}
.owl-nav {height:0;margin:0;}
.owl-carousel .owl-nav .owl-prev:before{
    font-family: "Material Icons";
    content: "\E5CB";
    font-size: 4rem;
    margin-left:16px;
    position: absolute;
	  top: 40%;
    left: 0px;
    height: auto;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.1),
                 0px 0px 8px rgba(0,0,0,0.05),
                 0px 0px 12px rgba(0,0,0,0.05);
}
.owl-carousel .owl-nav .owl-next:after{
    font-family: "Material Icons";
    content: "\E5CC";
    font-size: 4rem;
    margin-right: 16px;
    position: absolute;
	  top: 40%;
    right: 0px;
    height: 100%;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.1),
                 0px 0px 8px rgba(0,0,0,0.05),
                 0px 0px 12px rgba(0,0,0,0.05);
}
.row {
	margin-bottom: 0;
	.card {
		.card-action {
			border-radius: 0 0 12px 12px!important;
			position: absolute;
			bottom: 0;
			width: 100%;
		}
		height: 186px;
		background-size: cover;
		background-position: center center;
		border-radius: 12px;
		.card-content {
			position: relative;
			
			overflow: hidden;
			text-overflow: ellipsis;
			color: #fff;
			span {
				font-weight: bold;
				font-size: 1.5em;
			}
		}
		&#pic1 {background-image: url(https://picsum.photos/id/237/320/160);}
		&#pic2 {background-image: url(https://picsum.photos/id/236/320/160);}
		&#pic3 {background-image: url(https://picsum.photos/id/235/320/160);}
		&#pic4 {background-image: url(https://picsum.photos/id/234/320/160);}
		&#pic5 {background-image: url(https://picsum.photos/id/233/320/160);}
		&#pic6 {background-image: url(https://picsum.photos/id/232/320/160);}
		&#pic7 {background-image: url(https://picsum.photos/id/231/320/160);}
		&#pic8 {background-image: url(https://picsum.photos/id/230/320/160);}
		.overlay {
			-webkit-font-smoothing: antialiased;
			background-image: linear-gradient(rgba(60, 64, 67, 0.2), rgba(60, 64, 67, 0.2) 60%, rgb(0, 0, 0) 160%);
			bottom: 0px;
			box-sizing: border-box;
			color: rgb(60, 64, 67);
			content: "";
			cursor: pointer;
			display: block;
			font-family: "Google Sans", arial, sans-serif;
			font-size: 16px;
			font-weight: normal;
			
			left: 0px;
			letter-spacing: 0.10000000149011612px;
			line-height: 26px;
			position: absolute;
			right: 0px;
			top: 0px;
			
			border-radius: 12px;
		}
		.btn-flat {
			color: #fff;
			&:hover {
				background-color: rgba(255,255,255,0.3);
			}
		}
	}
}
.rating-count{
    position: absolute;
    margin-top:-1px;
    font-size:18px;    
}
.location-adj{
    margin-top:0px;
    padding-left:0px !important;
    margin-left: -27PX !IMPORTANT;
}
.gap-1{
    margin-top:1px;
}
.gap-2{
    margin-top:2px;
}
.gap-3{
    margin-top:3px;
}
.gap-4{
    margin-top:4px;
}
.gap-5{
    margin-top:5px;
}.gap-6{
    margin-top:6px;
}.gap-7{
    margin-top:7px;
}
.gap-9{
    margin-top:9px;
}
.gap-8{
    margin-top:8px;
}
.gap-10{
    margin-top:10px;
}
.profile-user-name{
    margin-right: 0px !important;
}
.signincontainer
{
	margin-top: 80px;
	width: 400px;
	height: 700px;
}

.tabs .indicator
{
	background-color: #e0f2f1;
	height: 60px;
	opacity: 0.3;
}

.form-container
{
	padding: 40px;
	padding-top: 10px;
}

.confirmation-tabs-btn
{
	position: absolute;
}


#sorting-row {
	padding-top:0px;
}



@media only screen and (max-width: 992px) {
    padding-top:46px;
}
.lazyload {
  opacity: 0;
}
.lazyloading {
  opacity: 1;
  transition: 600ms opacity;
  background: #f7f7f7 url(https://afarkas.github.io/lazysizes/assets/imgs/loader.gif) no-repeat center;
  min-height: 60px;
}
#Container .mix{
    display: none;
}
.project-cards-container {
	-webkit-backface-visibility: hidden;
	.mix {
    display: inline-block;
  }
}



.card-image {
    .card-badge {
        position:absolute;top:-5px;right:-24px;width:0;height:0;transform:rotate(45deg);border-left:36px solid transparent;border-right:  36px solid transparent;
        .new {border-bottom: 36px solid rgba(255, 165, 0, 1);}
        .certified {border-bottom: 36px solid #00c853;}
        .fav {border-bottom: 36px solid rgba(244, 67, 55, 1);}
        .material-icons {color: #fff;position: absolute;right:-12px;top: 9px;transform: rotate(-45deg);
 }}}

.card-image {background-color: #555;img {opacity:0.8;transition: opacity 0.5s ease;}
            :hover{img {opacity:1;transition: opacity 0.5s ease;}}}

.card {:hover {box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);}}

nav{.row{margin-bottom:0;}}

.controls {
    .btn-floating {font-weight:600;
    i {color:#757575;}
    :hover{background-color:#e0e0e0;}
    }}

